* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  font-family: var(--font-family-base);
  background-color: var(--bg-main);
  color: var(--text-main);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
a { text-decoration: none; color: inherit; }
ul { list-style: none; }
button { cursor: pointer; border: none; outline: none; background: none; font-family: inherit; }
input { outline: none; border: none; font-family: inherit; }
